# 4 OLAP Operations (SQL)

Given the following example database of product sales consisting of

1. a fact table for product sales (transactionID is the key for this table) containing information about the date, the sold product, the city and the number of sold products,
2. a dimension table with information about cities and their corresponding state and country (city is the key for this table),
3. a dimension table with information about products (productID is the key for this table) and
4. a dimension table with information about dates (this would not be done like this in the “real world”, but we nevertheless introduce this table…).

## a)

Draw the star schema for this databse

```
[product]----[sales]----[location]
                |
              [date]
```

## b)
Write the following queries in SQL

**a.** show the aggregated product sales for each product, country and day
```sql
SELECT productName, country, day, SUM(no_of_products) 
FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
  GROUP BY productName, country, day
```

**b.** show the aggregated product sales for each product, country and month
```sql
SELECT productName, country, month, SUM(no_of_products)
FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
  GROUP BY productName, country, month
```

**c.** show the aggregated product sales for each product, country and quarter
```sql
SELECT productName, country, quarter, SUM(no_of_products) 
FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
GROUP BY productName, country, quarter
```

**d.** show the aggregated product sales for each product, country and year
```sql
SELECT productName, country, year, SUM(no_of_products)
FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
GROUP BY productName, country, year
```

**e.** show the aggregated product sales for each product, state and day
```sql
SELECT productName, state, day, SUM(no_of_products) 
FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
GROUP BY productName, state, day
```

**f.** show the aggregated product sales for each product, city and day
```sql
SELECT productName, city, day FROM sales, product, location, date
  WHERE sales.productID = product.productID
    AND sales.day = date.day
    AND sales.city = location.city
GROUP BY productName, city, day
```

**g.** show the product sales for product P5 and P10
```sql
SELECT * FROM sales WHERE productID = 'P5' OR productID = 'P10'
```

**h.** show the product sales for Canada
```sql
SELECT * FROM sales, location WHERE sales.city = location.city AND location.country = 'CANADA';
```

**i.** show the product sales for product P10 and Miami
```sql
SELECT * FROM sales WHERE productId = 'P10' AND city = 'Miami'
```

## c)

Specify the OLAP operations of part b).

**a.** Roll up

**b.** Roll up

**c.** Roll up

**d.** Roll up

**e.** Roll up

**f.**  Roll up

**g.** Slice (only one dimension)

**h.** Slice

**i.**  Dice